.react-stiky-header {
  position: sticky;
  top: 0;
  z-index: 100000;
}

.react-stiky-header__container {
}

.main-menu.menu__container {
  /* background-color: white;
  box-shadow: 1px 1px 8px 4px gainsboro;
 */
  padding: 16px 16px;
  border-bottom: 1px solid red
}

.fixed-menu.menu__container {
  /* background-color: white;
  box-shadow: 1px 1px 8px 4px gainsboro;
*/
  padding: 16px 16px;
}

.scrollable-space {
  background-color: white;
  box-shadow: 1px 1px 8px 4px gainsboro;
  padding: 16px 16px;
}

.contentOverlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.fullMenuWrapper {
}
