/* main menu */

.react-sticky-fade__main_menu--enter {
  opacity: 0;
  transition: all 300ms ease-in;
}
.react-sticky-fade__main_menu-enter-active {
  opacity: 1;
  transition: all 300ms ease-in;
}
.react-sticky-fade__main_menu-enter-done {
  opacity: 1;
  transition: all 300ms ease-in;
}

.react-sticky-fade__main_menu-exit {
  opacity: 1;
  transition: all 300ms;
}
.react-sticky-fade__main_menu-exit-active {
  opacity: 0;
  transition: all 300ms;
}

.react-sticky-fade__main_menu-exit-done {
  opacity: 0;
  transition: all 300ms;
}

/* fixed menu */

.react-sticky-fade__fixed_menu--enter {
  transform: translateY(-100px);
  transition: all 0.3s;
}
.react-sticky-fade__fixed_menu-enter-active {
  transform: translateY(-100px);
  transition: all 0.3s;
}
.react-sticky-fade__fixed_menu-enter-done {
  transform: translateY(0px);
  transition: all 600ms ease-in;
}

.react-sticky-fade__fixed_menu-exit {
  transform: translateY(-100px);
  transition: all 300ms;
}
.react-sticky-fade__fixed_menu-exit-active {
  transform: translateY(0px);
  transition: all 300ms;
}

.react-sticky-fade__fixed_menu-exit-done {
  transform: translateY(0px);
  transition: all 600ms ease-in;
}


